<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
	<add name="PMcontrol_Product" connectionString="Data Source=;Initial Catalog=;User ID=;Password=;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>